/.vs
/game-client/.vs/game-client
/game-client/ARM64/Debug
/game-client/game-client/ARM64/Debug
/game-client/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7
.vs/slnx.sqlite
